<!DOCTYPE html>
<html>
<head>

<title> <%=title%> </title>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>

<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-dark" style="background-color: darkturquoise">
            <span class="navbar-brand mb-0 h1">
            <a  href="/">
            <img src="/assets/imgs/Rune-Halls-of-Valhalla-2-icon.png" width="55" height="55" alt="products management"/>
              products management
            </a>
            </span>
            <a  class="float-right btn btn-outline-primary"
            href="/Add">Add a product</a>
        </nav>
    </div>


 <!--Script files -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="../public/assets/js/bootstrap.min.js"></script>
</body>
</html>











